.headerHomeContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    position: absolute;
    padding: 2%;
    font-size: 48px;
    margin-bottom: 20px;
}

.languageSelectContainer {
    position: relative; 
    padding: 3%;
    padding-bottom: 0;
    align-items: end;
    margin-bottom: 20px;
    justify-content: flex-end;
    display: flex; 
    align-items: center;
}

.languageSelect {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
