.title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333; 
}

.languageSelectContainer {
    display: flex;
    align-items: end;
    margin-bottom: 20px;
    justify-content: flex-end;
}

.languageSelect {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
