/* Estilos para el contenedor del formulario de recuperación */
.recover-password-container {
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para el formulario de recuperación */
.recover-password-form {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

/* Estilos para el encabezado del formulario */
.recover-password-form h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #f3f3f3;
}

/* Estilos para los campos de entrada */
.recover-password-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Estilos para el botón */
.recover-password-form button {
  background-color: #234666;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recover-password-form button:hover {
  background-color: #0e2941;
}

/* Estilos para el mensaje de éxito */
.recover-password-form .success-message {
  color: green;
  font-size: 12px;
  margin-top: 10px;
}

/* Estilos para el mensaje de error */
.recover-password-form .error-message {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}
